{% extends 'base.html.twig' %}

{% block content %}

    <div class="card">
        <div class="header">

            <h1>Tu es un Admin</h1>
            <h12>(et accessoirement un fils de pute)</h12>

        </div>

    </div>

{% endblock %}